* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: antiquewhite  ;
  
}
.product {
    display: flex;
    gap: 20px;
    height: 400px;
    width: 500px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    /*padding: 1em;*/
}
.product-image {
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    
}
.product-description {
    margin: 2em 5px;
    width: 100%;
    padding: .5em 1em 0 0;
}
.product-description h5 {
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
    color: gray;
    margin-bottom: 10px;
}
.product-description h1 {
    margin-bottom: 10px;
    line-height: .9;
}
.product-description p {
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0 auto 1em;
}
.price {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}
.price h1 {
    color: teal;
    margin-right: 1em;
}
span {
    color: gray;
    margin-bottom: .5em;
}

.product-description .btn {
    background-color: teal;
    border: none;
    padding: 10px 1em;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    outline: none;
    cursor: pointer;
    transition: background-color .5s;
}
.product-description .btn:hover {
    background-color: rgb(15, 147, 147);
}

@media (max-width:769px) {
    .product {
        flex-direction: column;
        height: 100vh;
        width: 80vw;
        
    }
    .product-image {
        background-image: url(./images/image-product-mobile.jpg);
    }
    .product-description {
        padding: 2em;
    }
}